.wrap {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1.6875rem;
  border-radius: 100px;
  border: none;
  background-color: var(--gray);
  margin-right: 0.5rem;
}

.input,
.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
  background-color: var(--gray);
  border: none;
  margin-left: 0.6rem;
}
